@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-alternative: #0E0615;
  --foreground: #171717;
  --background: #F1F1F1;
  --action-base-default: #6D12A9;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0E0615;
    --foreground: #ededed;
    --text-alternative: #FFFFFF;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-unbounded);
}

a {
  color: #FFFFFF;
}

p {
  color: var(--text-alternative);
}
